# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.


# === General ===

SITE_NAME=Boatplans
DOMAIN_NAME=boatplans.local
TLS_EMAIL=webmaster@boatplans.local


# === Business ===
LEGACY_URLS=False

# metric or imperial
MEASUREMENT_SYSTEM=imperial

# === Django ===
# Generate yours with:
# python3 -c 'import secrets; print(secrets.token_hex(50))'

DJANGO_SECRET_KEY=__CHANGEME__

CORS_ALLOWED_ORIGINS=http://boatplans.local,https://boatplans.local

# === Database ===

# These variables are special, since they are consumed
# by both django and postgres docker image.
# Cannot be renamed if you use postgres in docker.
# See: https://hub.docker.com/_/postgres

POSTGRES_DB=boatplans
POSTGRES_USER=boatplans
POSTGRES_PASSWORD=

# Used only by django:
DJANGO_DATABASE_HOST=localhost
DJANGO_DATABASE_PORT=5432


# === Cache ===

DJANGO_DEFAULT_CACHE_URL=redis://127.0.0.1:6379/3


# === Media ===
STATIC_URL=/static/
STATIC_ROOT=
MEDIA_URL=/media/
MEDIA_ROOT=
